body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: blue;
}
nav{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a{
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
button{
    padding: 5px 10px;
    cursor: pointer;
}
section{
     display: none;
     padding: 20px;
}
li{
    list-style-type: none;
}
section.active{
    display: block;
}

#recipe-form input,#recipe-form select , #recipe-form textarea{
    display: block;
    margin: 12px auto;
    width: 80%;
    padding: 8px;
}

#recipe.container .recipe-card{
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 15px;
    background-color: white;
    transition: transform 3s;
}
#recipes.container .recipe-card:hover{transform:translateY(-5px);}

h2{
    color: blue;
}
[data-theme='dark']{
    background-color: #333;
}
[data-theme='dark'] button{
    background-color: #444;
}

#recipes-container table,#recipes-container td{
    border: 1px solid #ccc;
    padding: 5px;
}
main{
    position: relative;
    left: 20%;
    width: 100%;
}
footer{
    background-color: blue;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    text-transform: uppercase;
}
@media(max-width:768px){
    nav{
        padding: 10px;
    }
    #recipe-form input,#recipe-form select ,#recipe-form textarea{
        width: 90%;
        
    }
}