*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: black;
    color: white; */
    height: 100vh;
    width: 100vw;
    position: relative;
}
header{
    padding: 30px;
    text-align: center;
    background-color: rgb(99, 99, 243);
    background-image: linear-gradient(blue);
    color: white;
}
#basic h2{
    text-align: center;
    color: purple;
}

aside h2{
    text-align: center;
    color: purple;
}
#quiz h2{
    text-align: center;
    color: purple;
}
article h2{
    text-align: center;
    color: purple;
}
nav{
    text-align: center;
    margin-top: 10px;
}
nav a{
    text-decoration: none;
    color:black;
    font-size: 17px;
    font-weight: bold;
    margin: 0 20px;
    
}
nav a:hover{
    color: white;
}
nav a:focus{
    color: blue;
}
section , article,aside{
    margin: 30px 0;
}
a{
    text-decoration: none;
    color: rgb(232, 8, 46);
}
footer{
    position: relative;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.859);
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
}
ol{
    text-align: center;
}

ol li{
    list-style-type: disc;
}
form{
    margin: auto;
    margin-top: 20px;
    background-color: rgb(104, 104, 237);
    width: 300px;
    padding: 10px;
}
form h3{
    margin-bottom: 20px;
    background-color: rgb(111, 111, 233);
}
button{
    text-align: center;
}

